.section6{
    display: flex;
    flex-direction: column;
    background-color: #F7F6FF;
    padding: 110px 140px 88px 140px;
}
.row1{
    display: flex;
    justify-content: space-between;
}
.header4{
    color:#090D2C;
    font-family: Nunito;
    font-size: 40px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0px;
    text-align: left;
}
.row1-btn{
    height: 45px;
    width: 158px;
    border-radius: 100px;
    border: 1px solid #171C51;

    color:#171C51;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
}
.row1-btn:hover, .row1-btn:focus, .row1-btn:active{
    background-color:#171C51;
    color:#F7F6FF;
}
.row2{
    flex-grow: 1;
    margin-top: 46px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
    overflow-x: scroll;
    white-space: nowrap;
    border-bottom: 1px solid #DCDCE5;
    gap: 30px;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.btn-all, .btn-design, .btn-product,
.btn-branding, .btn-mobile, .btn-web{
    height: 52px;
    border-radius: 100px;
    padding: 14px 30px 14px 30px;
    font-family: Maven Pro;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    background-color: #FFFFFF;
    color: #230F0F;
    font-weight: 400;
    border: 1px solid #230F0F33;
}
.btn-all:hover, .btn-all:focus, .btn-all:active,
.btn-design:hover, .btn-design:focus, .btn-design:active,
.btn-product:hover, .btn-product:focus, .btn-product:active,
.btn-branding:hover, .btn-branding:focus, .btn-branding:active,
.btn-mobile:hover, .btn-mobile:focus, .btn-mobile:active,
.btn-web:hover, .btn-web:focus, .btn-web:active{
    background-color: #2E2579;
    color: #ffffff;
    border: 0px;
    width: min-content;
    border: 1px solid #2E2579;
}
.row3{
    margin-top: 24px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.row2::-webkit-scrollbar,.row3::-webkit-scrollbar {
    background-color: #f1f1f1;
    height: 0.4rem;
}
.row2::-webkit-scrollbar-thumb, .row3::-webkit-scrollbar-thumb {
    background-color: #DCDCE5;
    border-radius: 100px;
}
.row2::-webkit-scrollbar-track, .row3::-webkit-scrollbar-track {
    background-color: #F7F6FF;
}
.card{
    height: 480px;
    width: 368px;
    border-radius: 8px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
}
.card-date{
    margin-top: 20px;
    margin-left: 24px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.4000000059604645px;
    text-align: left;
    color: #777795;
}
.card-head{
    margin-top: 8px;
    margin-left: 24px;
    height: 72px;
    width: 320px;
    border-radius: nullpx;
    color: #2E2579;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.6000000238418579px;
    text-align: left;
}
.card-body{
    margin: 8px 24px 1px 24px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #8C8686;
}
.card-price{
    margin: auto 24px 25px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price{
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: left;
    color:#2E2579;
}
.card-show{
    color:#2E2579;
    font-family: Maven Pro;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;

    height: 36px;
    left: 210px;
    top: 0px;
    border-radius: 8px;
    padding: 9px 30px 9px 30px;
    background-color: #ffffff;
    border: 1px solid #2E2579;
}
.card-show:hover, .card-show:focus, .card-show:focus{
    color: #ffffff;
    background-color: #2E2579;
}

@media (max-width:500px) {
    .section6{
        padding: 30px 30px 60px 30px;
    }
    .header4{
        width: 55%;
        font-size: 30px;
        line-height: 40px;
    }
    .row1{
        align-items: center;
    }
    .row1-btn{
        font-size: 14px;
        height: 45px;
        width: 40%;
    }
    .row2{
        overflow: auto;
        margin-top: 20px;
        padding-bottom: 20px;
        gap: 15px;
    }
    .btn-all, .btn-design, .btn-product,
    .btn-branding, .btn-mobile, .btn-web{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        height: 45px;
    }
    .row3{
        flex-direction: column;
        gap: 20px;
    }
    .card{
        width: 100%;
    }
    .card-head{
        height: auto;
        width: 90%;
    }
}
@media (max-width:300px) {
    .card{
        height: auto;
    }
}

